language: node_js
sudo: true
node_js:
  - "9"
  - "8"
  - "6"

env:
  - JOB=test

matrix:
  include:
    - node_js: "lts/*"
      env: JOB=lint

before_install:
  - yarn global add greenkeeper-lockfile@1
  - 'if [ "$JOB" = "test" ]; then git clone --depth=1 --branch=v4.9.0 https://github.com/facebook/watchman.git; fi'
  - 'if [ "$JOB" = "test" ]; then pushd watchman && ./autogen.sh && ./configure --without-python && make && sudo make install && popd; fi'

before_script: greenkeeper-lockfile-update

script:
  - 'if [ "$JOB" = "test" ]; then yarn test:coverage; fi'
  - 'if [ "$JOB" = "lint" ]; then yarn run lint && yarn run flow; fi'

after_script: greenkeeper-lockfile-upload

after_success:
  - 'if [ "$JOB" = "test" ]; then bash <(curl -s https://codecov.io/bash) -f coverage/coverage-final.json ; fi'
